*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background: 
        linear-gradient(
            to right,
            rgba(0, 0, 53, 0.8) 0%,
            rgba(0, 0, 102, 0.6) 40%,
            rgba(0, 0, 150, 0.3) 70%,
            rgba(0, 0, 150, 0.2) 100%
        ),
        url('../Assets/banner-image.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}